body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 40px;
}

.navbar,
.btn,
.card-header,
.created-card-header,
.update {
    background-color: rgb(226, 191, 226);
}

.btn-primary {
    background-color: rgb(238, 235, 208);
    color: black;
}

.update {
    color: black;
}

#navbarSupportedContent {
    justify-content: space-between;
}

.nav-item {
    margin-left: 40px;
    margin-right: 40px;
}

.d-flex {
    justify-content: space-between;
}

.btn-primary {
    margin-left: 5px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#text,
#motivational-quotes,
#btn-more-quotes {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}

.popover__title {
    text-decoration: none;
    color: rgba(0, 0, 0, .55);
    text-align: center;
    padding: 0;
}

.popover__wrapper {
    position: relative;
    margin-top: 0.2rem;
    display: inline-block;
}

.popover__content {
    opacity: 80%;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(0, 10px);
    background-color: #f8edeb;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.322);
    width: auto;
}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #dad7d7 transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 10;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    margin-left: 50%;
    border-radius: 10%;
}

.popover__message {
    text-align: center;
}


.month {
    padding: 70px 25px;
    width: 100%;
    background: #E2BFE2;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #E2BFE2;
    color: white !important
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

section {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}



.container-fluid {
    font-size: 60%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.container-fluid {
    font-size: 90%;
}




@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/*-------------------- (profile page css) ----------------------------------*/
#personalInfoFields {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#heading {
    text-align: center;
    margin-top: 50px;
}

#profile-picture {
    height: 200px;
    width: 200px;
    position: relative;
    margin-left: 50%;
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#choosePhoto {
    height: 100%;
    width: 100%;
}

#file {
    display: none;
}

#uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

#personalInfoFields>.row>.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

#personalInfoFields>.row>.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    text-align: right;
}

/* Clear floats after the columns */
#personalInfoFields>.row:after {
    content: "";
    display: table;
    clear: both;
}

#main-page>.d-flex {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}




/* --------------(CreateYourProgram page css)-------------- */

#createYourProgram {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#createYourProgram>select,
#createYourProgram>textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#createYourProgram>label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#createYourProgram>.row>.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

#createYourProgram>.row>.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    text-align: right;
}

/* Clear floats after the columns */
#createYourProgram>.row:after {
    content: "";
    display: table;
    clear: both;
}

/** Repetition */
#multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 58%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    width: 58%;
    margin-left: 20.8vw;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

/* repetition ends */

#createYourProgram #reminderVoice {
    width: 58%;
}

#createYourProgram #notes {
    width: 58%;
}

#createYourProgram>.row>button {
    color: black;
    border: 0;
    margin-top: 50px;
    padding: .5em;
    border-radius: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}


/*----------(SamplePrograms page css)--------*/

.sample {
    text-align: center;
    margin-top: 50px;
}

.card-sample {
    margin: 50px 200px auto;
}

.card-sample,
.cards {
    width: 100%;
}



/*-----------------(CreatedProgramDetails page css)---------*/
#createdProgram {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#createdProgramData>select,
#createdProgramData>textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#createdProgramData>label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#createdProgramData>.row>.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

#createdProgramData>.row>.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    text-align: right;
}

/* Clear floats after the columns */
#createdProgramData>.row:after {
    content: "";
    display: table;
    clear: both;
}



#createdProgramData #reminderVoice {
    width: 58%;
}

#createdProgramData #notes {
    width: 58%;
}

#createdProgram>.row>button {
    color: white;
    border: 0;
    margin-top: 50px;
    padding: .5em;
    border-radius: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.new-program {
    text-align: right;
    
}


/*-----------(SampleProgramDetails page)-------*/
#sampleProgram {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#sampleProgramData>select,
#sampleProgramData>textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#sampleProgramData>label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#sampleProgramData>.row>.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

#sampleProgramData>.row>.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    text-align: right;
}

/* Clear floats after the columns */
#sampleProgramData>.row:after {
    content: "";
    display: table;
    clear: both;
}



#sampleProgramData #reminderVoice {
    width: 58%;
}

#sampleProgramData #notes {
    width: 58%;
}

#sampleProgram>.row>button {
    border: 0;
    margin-top: 50px;
    padding: .5em;
    border-radius: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}


.profile-picture img {
    max-width: 80px;
    height: auto;
    border-radius: 100%;
    border: 5px solid white;

}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {

    .weekdays li,
    .days li {
        width: 13.1%;
    }


    /*---------------create-your-program page -----------*/
    #createYourProgram>.row>.col-25 {
        width: 100%;
        margin-top: 0;
    }

    #createYourProgram>.row>.col-75 {
        width: 100%;
        margin-top: 0;
    }


    #createYourProgram .row .col-75 #labelValue {
        width: 100%;
    }

    #createYourProgram .row .col-75 #activity {
        width: 100%;
    }

    #createYourProgram .row .col-75 #goalValue {
        width: 100%;
    }

    #createYourProgram .row .col-75 #startDate {
        width: 100%;
    }

    #createYourProgram .row .col-75 #time {
        width: 100%;
    }

    #createYourProgram .row .col-75 select {
        width: 100%;
    }

    #createYourProgram .row .col-75 #checkboxes {
        margin-left: 0;
        width: 100%;
    }


    #createYourProgram .row .col-75 #reminderVoice {
        width: 100%;
    }

    #createYourProgram .row .col-75 #notes {
        width: 100%;
    }

    #createYourProgram .row button {
        width: 100%;
    }


    /*------- (sample-program-details page) ---------*/
    #sampleProgram .row button {
        width: 100%;
    }

    /*---------(created-program-details page) ---------*/
    #createdProgram .row button {
        width: 100%;
    }




}

@media screen and (max-width: 420px) {

    .weekdays li,
    .days li {
        width: 12.5%;
    }

    .days li .active {
        padding: 2px;
    }

    #createYourProgram>.row>.col-25 {
        width: 100%;
        margin-top: 0;
    }

    #createYourProgram>.row>.col-75 {
        width: 100%;
        margin-top: 0;
    }

    #createYourProgram>.row>.row>button {
        width: 100%;
        margin-top: 10px;
    }


}


@media screen and (max-width: 290px) {

    .weekdays li,
    .days li {
        width: 12.2%;
    }


    #createYourProgram>.row>.col-25 {
        width: 100%;
        margin-top: 0;
    }

    #createYourProgram>.row>.col-75 {
        width: 100%;
        margin-top: 0;
    }

    #createYourProgram>.row>.row>button {
        width: 100%;
        margin-top: 10px;
    }


}
